<% if flash[:success] %>
	<div class="flash">
		<%= flash[:success] %>
	</div>
<% end %>
<div>
	<p>
		<span>Title: </span>
		<%= @book.title %>
	</p>
</div>
<div>
	<p>
		<span>Body: </span>
		<%= @book.body %>
	</p>
</div>

<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "Back", books_path %>